<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('task.title') %> :</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('task.content') %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('task.status') %>:</strong>
  <%= @task.status %>
</p>

<p>
  <strong><%= t('task.priority') %>:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong><%= t('task.expiration') %>:</strong>
  <%= @task.expiration %>
</p>

<%= link_to t('task.Edit'), edit_task_path(@task) %> |