<h1>Edit User</h1>
<%= form_with(model: [ :admin, @user ],local: true)do |f| %>
  <%#= render 'layouts/error_messages',model: f.object %>
  <div>
    <%= f.label :name,"Name" %>
    <%= f.text_field :name,class:'form-control' %>
  </div>
  <div>
    <%= f.label :email,"Email" %>
    <%= f.email_field :email,class:'form-control' %>
  </div>
  <div>
    <%= f.label :password,"Password" %>
    <%= f.password_field :password,class:'form-control' %>
  </div>
  <div>
    <%= f.label :admin,"Admin Right" %>
    <%= f.check_box :admin, {} , "true", "false" %>
  </div>
  <%= f.submit 'Go!', class:'btn btn-primary btn-block' %>
<% end %>